.GameBasePitch {
  background-color: black;
}

.GameBasePitch  .NoteView {
  position: absolute;
  width: 12vh;
  height: 12vh;
  border: solid forestgreen 0.25rem;
  border-radius: 1rem;
  background: ivory;
  transform: translate(-50%,-50%);
  opacity: 70%;
}
.GameBasePitch  .SnakeView {
  position: relative;
}
.GuessA.GuessHorizontal {
  top: 6vh;
  left: 50%;
  right: unset;
  bottom: unset;
}
.GuessB.GuessHorizontal {
  top: unset;
  left: 50%;
  right: unset;
  bottom: -6vh;
}
.GuessA {
  top: 50%;
  left: 6vh;
  right: unset;
  bottom: unset;
}
.GuessB {
  top: 50%;
  left: unset;
  right: -6vh;
  bottom: unset;
}

.GameBasePitch  .Frame.Snake {
  height: 65vh;
}
.GameBasePitch  .Input {
  height: 25vh;
}
.GameBasePitch  .Status {
  height: 10vh;
  padding: 0;
  background: black;
  color: pink;
  display:flex;
  align-items:center;
  justify-content: space-between;
  padding-inline: 1rem;
}

.GameBasePitch  .Status span{
  font-size: min(6vh,6vw);
  text-align: center;
  position: relative;
  filter: drop-shadow(0px 0px 5px black);
}
.GameBasePitch  .Status .Score.streak::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.5;
  background-image: url('../AssetsImport/icons/fire.png');
  background-size: contain;
  background-repeat:space;
  background-position: 50%;
  image-rendering: pixelated;
}
.GameBasePitch  .Status .Score.streak::after{
  content: ' ';
}
.GameBasePitch  .Status .Score.streak.low::after{
  content: ' x2';
}
.GameBasePitch  .Status .Score.streak.mid::after{
  content: ' x3';
  color:springgreen;
}
.GameBasePitch  .Status .Score.streak.high::after{
  content: ' x4';
  color:aqua;
}
.GameBasePitch .statusArrow{
  content: url('../AssetsImport/icons/arrow.png');
  height:5vh;
}
.GameBasePitch .statusArrow.pending{
  filter: hue-rotate(-90deg);
}
.GameBasePitch .HealthBar {
  width: calc(7vh * 5);
  height: 10vh;
  display: flex;
  gap: 0.9rem;
  align-items: center;
}
.GameBasePitch .statusHeart{
  content: url('../AssetsImport/icons/heart.png');
  width: 5vh;
}
.GameBasePitch .statusHeart.empty{
  content: url('../AssetsImport/icons/heart_empty.png');
  width: 5vh;
}