.PianoKey{
    height: 8rem; 
    width: 2rem;
    border: solid gray 1px;
    border-radius: 0.25rem;
    position: relative;
}

.PianoKey p{
    position: absolute;
    bottom: 0;
    left:50%;
    transform: translateX(-50%);
    padding: 0;
    margin: 0;
    font-size: 2rem;
    user-select: none;
}

.PianoKey.White{
    background-color: white;
    color: black;
}
.PianoKey.Black{
    height:6rem;
    background-color: black;
    color: white;
}
.PianoKey.Press{
    background-color: gold;
    color: gray;
}