@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
  font-family: 'VT323', monospace;
  box-sizing: border-box;
}

svg {
  padding: 0;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

svg text {
  dominant-baseline: hanging;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

.debugLabel {
  stroke: none;
  fill: white;
  background: black;
  filter: drop-shadow(1px 1px 0px #00f);
}

.FelixStatus {
  transition: background-color 2s;
}

.View {
  border: solid black 1px;
}

.Frame {
  padding: 0;
  border: solid 16px;
  border-image: url('./img/borderFill.png');
  border-image-slice: 3;
  overflow: hidden;
  image-rendering: pixelated;
}

button {
  font-size: 1.5rem;
  background-color: transparent;
  border: solid 16px;
  border-image: url('./img/border.png');
  border-image-slice: 3 fill;
  image-rendering: pixelated;
  overflow: hidden;
}
button:hover {
  filter: contrast(0.75) sepia(2) hue-rotate(20deg)
}